/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Temporary settings*/
header,
aside,
section.main-dashboard {
    border: 1px solid black;
}

header {
    background-color: aquamarine;
}

aside {
    background-color: azure;
}

section.main-dashboard {
    background-color: bisque;
}