@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables*/
:root {
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-500: #64748b;
    --slate-700: #334155;
    --slate-900: #0f172a;
    --orange-500: #f97316;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Layout */
main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: 
        [row1-start] "sidebar header" 180px [row1-end]
        [row2-start] "sidebar dashboard" 1fr [row2-end]
    / 1fr 5fr;
}

/* Header layout*/
header {
    grid-area: header;
    display: grid;
    grid: 
        [row1-start] "search user-info" 1fr [row1-end]
        [row2-start] "user-name header-btn" 1fr [row2-end]
    / 3fr 1fr;
    padding: 1rem;
}

header div.form-control,
header div.user-info,
header div.user-name,
header div.header-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header div.form-control {
    grid-area: search;
}

header div.user-info {
    grid-area: user-info;
    justify-content: center;
}

header div.user-name {
    grid-area: user-name;
}

header div.header-btn {
    grid-area: header-btn;
}

label {
    margin-right: 1rem;
}

input[type="search"] {
    padding: 0.6rem;
    flex: 1;
}

div.user-info img {
    margin: 0 2rem;
}

header button {
    margin: 1rem;
    padding: 1rem 1.5rem;
} 

/* Sidebar layout */
aside {
    grid-area: sidebar;
    display: grid;
    grid:
        [row1-start] "logo" 0.2fr [row1-end]
        [row2-start] "menu-one" 0.5fr [row2-end]
        [row3-start] "menu-two" 2fr [row3-end] 
    / 1fr;  
    padding: 1.5rem;
}

aside div.logo {
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

aside h1 {
    margin-left: 0.5rem;
}

aside ul.menu-one,
aside ul.menu-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
    margin: 1rem 0 3rem 0.5rem;
}

aside ul.menu-one {
    grid-area: menu-one;
}

aside ul.menu-two {
    grid-area: menu-two;
}

aside ul.menu-one li,
aside ul.menu-two li {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-text {
    margin-left: 1.2rem;
}

/* Main dashboard layout */
section.main-dashboard {
    grid-area: dashboard;
    display: grid;
    grid:
        [row1-start] "title-projects title-announcements" 30px [row1-end]
        [row2-start] "projects announcements" 1fr [row2-end]
        [row3-start] "projects title-trending" 30px [row3-end]
        [row4-start] "projects trending" 1fr [row4-end]
    / 4fr 1fr;
    gap: 20px;
    padding: 1rem;
    margin-right: 2rem;
}

/* Projects layout */
section.main-dashboard section.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 1rem 1rem 0 0;
    gap: 20px; 
}

h2.title-projects {
    grid-area: title-projects;
    padding: 1rem;
}

/* Articles layout */
article.card {
    padding: 1rem;
    display: grid;
    grid: 
        [row1-start] "title" 1fr [row1-end]
        [row2-start] "body" 2fr [row2-end]
        [row3-start] "icons" 1fr [row3-end] 
        / 1fr;
    
    gap: 10px;
    justify-items: flex-start;
    align-items: flex-start;
}

article.card h3 {
    grid-area: title;
    align-self: center;
}

article.card p {
    grid-area: body;
}

article.card div {
    grid-area: icons; 
    align-self: center;
    justify-self: flex-end;
}

/* Annoucements and Trending layout*/
section.main-dashboard section.announcements,
section.main-dashboard section.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
    padding: 1rem;
}

section.main-dashboard section.announcements{
    grid-area: announcements;
}

section.main-dashboard section.trending {
    grid-area: trending;
}

section.announcements.card {
    margin: 1rem 0;
}

section.announcements p {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

h2.title-announcements {
    grid-area: title-announcements;
    margin-top: 1rem;
}

.trending-user {
    display: flex;
    margin-bottom: 1rem;
    justify-items: center;
    align-items: center;
}

h2.title-trending {
    grid-area: title-trending;
}

/* Style */

body {
    background-color: var(--slate-200);
}

/* Header style */
header {
    color: var(--slate-900);
    background-color: var(--slate-50);
    box-shadow: var(--shadow);
    z-index: 1;
}

input[type="search"] {
    max-width: 55rem;
    border-radius: 15px;
    border: none;
    background-color: var(--slate-200);
}

header button {
    color: var(--slate-50);
    background-color: var(--slate-700);
    border: none;
    border-radius: 25px;
}

/* Sidebar style */
aside {
    background-color: var(--slate-700);
    color: var(--slate-50);
}

.logo svg {
    color: #f97316;
}

aside ul {
    list-style: none;
}

/* Section main dashboard style */
section.main-dashboard {
    background-color: var(--slate-200);
}

/* Card style */
.card {
    background-color: var(--slate-50);
    border-radius: 15px;
    box-shadow: var(--shadow);
}

/* Articles border */
article.card {
    border-left: 10px solid var(--orange-500);
}

/* Annoucement separation line */
section.announcements p {
    border-bottom: 1px solid var(--slate-200);
}

/* Image dimensions */
.img-small {
    width: 40px;
    height: 40px;
}

.img-big {
    width: 80px;
    height: 80px;
}

/* Font styling */
.text-small {
    font-size: 0.8rem;
    color: var(--slate-500);
}

.text-small-b {
    font-size: 0.8rem;
    font-weight: 700;
}

.text-big {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-medium {
    font-size: 1.2rem;
    font-weight: 700;  
}
